a{
  color: #fff !important;
  text-decoration: none;
}
.option-container {
  position: relative;
  border-radius: 1em !important;
  margin: 1em 0 !important;
  height: 70px !important;
  box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.213) !important;
}
.option-btn,
.option-btn-wapp {
  border: 1px solid #00d5ff !important;
  background-color: #1cd9fe !important;
  color: #fff !important;
  position: absolute !important;
  border-radius: 1em !important;
  bottom: 10px !important;
  right: 10px !important;
  text-transform: inherit !important;
  padding: 0.5em 1em !important;
}
.option-btn-wapp {
  border: 1px solid #25d266 !important;
  background-color: #25d266 !important;
}
.menu-card{
  border-radius: 1em !important;
  margin: 1em 0 !important;
}
.add-btn{
  background-color: #88aaf3 !important;
  border-radius: 1em !important;
  color: #fff !important;
}
.search-btn{
  border-radius: 0 2em 2em 0 !important;
}